<!--footer-->
<div class="container">
    <footer class="footer-main" id="js-footer-main">
        <ul class="footer-menu">
            <li class="footer-menu__item">
                <a href="#js-main-menu" class="footer-menu__link js-menu__link">Home</a>
            </li>
            <li class="footer-menu__item">
                <a href="#js-slider" class="footer-menu__link js-menu__link">About us</a>
            </li>
            <li class="footer-menu__item">
                <a href="#js-our-services" class="footer-menu__link js-menu__link">Our Services</a>
            </li>
            <li class="footer-menu__item">
                <a href="#js-portfolio" class="footer-menu__link js-menu__link">Portfolio</a>
            </li>
            <li class="footer-menu__item">
                <a href="#js-blog" class="footer-menu__link js-menu__link">Blog</a>
            </li>
            <li class="footer-menu__item">
                <a href="#js-footer-main" class="footer-menu__link js-menu__link">Contact Us</a>
            </li>
        </ul>

        <div class="copyright">
            &copy; 2011 Design Group. All Rights Reserved.
        </div>
    </footer>

    <div class="btn-up disabled" id="js-btn-up">
        <i class="fa fa-arrow-down"></i>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="assets/libs/jquery-migrate/jquery-migrate.min.js"></script>
<script src="assets/libs/jquery-easy-scroll/jquery.easeScroll.js"></script>
<script src="assets/libs/slick/slick.min.js"></script>
<script src="assets/libs/wow/wow.min.js"></script>
<script src="assets/js/main.js"></script>

</body>

</html>
