@import "../sass/partials/_start.scss";

@keyframes logoRotate {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.main-header {
  position: relative;

  .logo {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    perspective: 800px;
    z-index: 10;

    @media screen and (max-width: $lg) {
      top: 105px;
    }

    @media screen and (max-width: $md) {
      top: 176px;
    }

    @media screen and (max-width: 355px) {
      top: 220px;
    }

    &::after {
      content: '';
      position: absolute;
      top: -30px;
      left: -30px;
      width: 246px;
      height: 246px;
      background: url('../i/body-bg.jpg') repeat center;
      border-radius: 50%;
      z-index: 2;

      @media screen and (max-width: $lg) {
        width: 196px;
        height: 196px;
      }

      @media screen and (max-width: 475px) {
        width: 176px;
        height: 176px;
      }
    }

    img {
      position: relative;
      z-index: 3;
      animation-name: logoRotate;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;

      @media screen and (max-width: $lg) {
        width: 140px;
      }

      @media screen and (max-width: 475px) {
        width: 120px;
      }
    }
  }

}

/* header-top
====================================================*/
.header-top {
  display: flex;
  justify-content: space-between;
  padding: 36px 0 38px;

  @media screen and (max-width: $lg) {
    margin-bottom: 90px;
  }

  @media screen and (max-width: $md) {
    display: block;
  }
}

.search {
  position: relative;
  height: 38px;

  @media screen and (max-width: $md) {
    @include inline-block;

    margin-bottom: 30px;
  }

  @media screen and (max-width: 355px) {
    margin-bottom: 64px;
  }

  &__text {
    @include inline-block;

    margin-right: 9px;
    margin-top: 8px;
    font-size: 19px;
    color: $text-color;

    @media screen and (max-width: 355px) {
      margin-bottom: 20px;
    }
  }

  &__input {
    width: 233px;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #ffffff;
    transition: all .4s ease;

    @media screen and (max-width: 355px) {
      display: block;
    }

    &:focus {
      border-color: darkgreen;
    }
  }

  .fa {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 24px;
    color: $accent;
  }
}

/* socials
====================================================*/
.socials {

  &__text {
    @include inline-block;

    margin-top: 6px;
    margin-right: 6px;
    font-size: 19px;
  }

  &__list {
    @include inline-block;

    &-item {
      @include inline-block;

      margin: 0 4px;
    }

    &-link {
      display: block;
      width: 33px;
      height: 33px;
      text-align: center;
      border-radius: 50%;

      &:hover .fa {
        color: darken($white, 20%);
      }

      &.blue-dark {
        background: $blue-dark;
      }

      &.blue {
        background: $blue;
      }

      &.orange {
        background: $orange;
      }

      &.gray {
        background: $gray;
      }
    }
  }

  .fa {
    line-height: 33px;
    color: $white;

  }
}

/* main-menu
====================================================*/
.main-menu {
  @media screen and (max-width: $xl) {
    display: none;
    margin-left: 40px;
    margin-bottom: 10px;
    padding-top: 60px;
    background: $gray-bg-light;
  }

  @media screen and (min-width: $xl) {
    display: block !important;
  }

  &-wrap {
    position: relative;
    min-height: 60px;
    background: $gray-bg-light;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 0 -4px 0 0 darken($gray-bg-light, 10%);
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: -4px;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.38);
    }

    .show-menu {
      position: absolute;
      top: 20px;
      right: 40px;
      display: none;
      width: 36px;
      height: 18px;
      cursor: pointer;

      @media screen and (max-width: $xl) {
        display: block;
      }

      @media screen and (max-width: 370px) {
        right: 20px;
      }

      div {
        position: absolute;
        width: 100%;
        height: 3px;
        top: 0;
        left: 0;
        background: $gray-dark;

        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%);
        }

        &:last-child {
          top: initial;
          bottom: 0;
        }
      }
    }
  }

  &__item {
    @include inline-block;

    &:nth-child(4) {
      margin-left: 244px;

      @media screen and (max-width: $xl) {
        margin-left: 0;
      }
    }

    @media screen and (max-width: $xl) {
      display: block;
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: 0 40px;
    @include birchstd;
    font-size: 28px;
    line-height: 60px;
    color: $text-color;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 80px;
      height: 2px;
      background: $gray-dark;
      transition: transform .6s ease, opacity .3s ease;
      opacity: 0;
    }

    &:hover::after {
      transform: translate(-50%, -15px);
      opacity: 1;
    }
  }
}
