//grid
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//text colors
$text-color: #404040;
$accent: #af2330;
$text-light: #999999;

//bg colors
$white: #fff;
$blue: #4ea9c3;
$blue-dark: #465796;
$orange: #d7702d;
$green: #98b42c;
$gray: #b0b0b0;
$gray-light: #ededee;
$gray-bg-light: #cdcdcd;
$gray-dark: #303030;

//border



