@import "../libs/slick/slick";
//@import "partials/iconmoon";
@import "partials/icons";
@import "../sass/partials/_start.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
  @include birchstd;

  font-weight: normal;
}

.btn {
  padding: 0 30px;
  height: 40px;
  line-height: 46px;
  @include birchstd;
  font-size: 24px;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all .5s ease;

  &.default {
    color: $white;
    background: $gray-dark;

    &:hover {
      background: lighten($gray-dark, 10%);
    }
  }

  &.lighten {
    color: $text-color;
    background: $gray-light;

    &:hover {
      background: darken($gray-light, 10%);
    }
  }
}

/* slider
====================================================*/
.slider {
  margin: 0 auto;
  padding: 60px 30px;
  width: 100%;

  /*&__item {
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }*/
}

.slick-list {
  box-shadow: 0 0 31px -10px rgba(0, 0, 0, .6);
}

/* our services
====================================================*/
.our-services {
  position: relative;
  margin-bottom: 60px;
  padding-bottom: 40px;

  .col-md-6 {
    &:nth-child(2n) {
      .our-services__item::after {
        background: none;

        @media screen and (min-width: $lg) {
          background: $gray;
        }
      }
    }
  }

  .col-lg-3 {
    &:last-child {
      .our-services__item::after {
        background: none;
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: $gray;
  }

  .img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    width: 96px;
    height: 96px;
    border-radius: 50%;

    &.accent {
      background: $accent;
    }

    &.blue {
      background: $blue;
    }

    &.orange {
      background: $orange;
    }

    &.green {
      background: $green;
    }

    .icon {
      line-height: 96px;
    }
  }

  &__item {
    position: relative;
    padding: 0 15px;
    text-align: center;

    @media screen and (max-width: $lg) {
      margin-bottom: 60px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -15px;
      width: 1px;
      height: 100%;
      background: $gray;

      @media screen and (max-width: $md) {
        background: none;
      }
    }
  }

  &__title {
    font-size: 40px;
  }

  .text {
    height: 80px;
    font-style: italic;
    overflow: hidden;
  }
}

/* portfolio
====================================================*/
.portfolio {
  margin-bottom: 60px;
  padding: 40px 20px;
  background: $white;
  border-radius: 10px;

  @media screen and (max-width: $lg) {
    padding-bottom: 0;
  }

  &__item {
    @media screen and (max-width: $lg) {
      margin-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 25px;
    font-size: 45px;
  }

  &__message {
    margin-bottom: 30px;
    padding: 20px;
    background: $gray-light;
    border-radius: 10px;
    box-shadow: inset 0 -4px 0 0 darken($gray-light, 10%);

    .text {
      font-style: italic;
    }
  }

  .author {
    display: table;
    margin-left: auto;

    &__name {
      font-size: 1.1em;
      font-weight: bold;
    }
  }

  .blog-item {
    margin-bottom: 20px;

    &__title {
      font-family: 'Times New Roman', sans-serif;
      font-size: 18px;
      line-height: 21px;
      color: $accent;
    }

    li {
      display: inline-block;
      vertical-align: top;

    }

    .fa {
      color: $blue;
    }

    &__data-item {
      margin-right: 10px;
      font-size: 15px;
      font-weight: bold;
    }
  }

}

/* end portfolio
====================================================*/

/* blog
====================================================*/
.blog {
  padding: 40px 20px;
  margin-bottom: 60px;
  border-radius: 10px;
  color: $text-super-light;
  background: $gray-dark;

  @media screen and (max-width: $lg) {
    padding-bottom: 0;
  }

  &__item {
    @media screen and (max-width: $lg) {
      margin-bottom: 60px;
    }
  }

  &__title {
    margin-bottom: 15px;
    font-size: 30px;
  }

  &__list-item {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid $border-color;
  }

  .fa {
    margin-right: 10px;
    color: $blue;
  }
}

/* end portfolio
====================================================*/

/* footer-main
====================================================*/
.footer-main {
  padding: 60px 0;
  text-align: center;
  background: transparent;
  border-top: 1px solid lighten($border-color, 20%);
}

.footer-menu {
  margin-bottom: 30px;

  @media screen and (max-width: $md) {
    text-align: left;
  }

  &__item {
    display: inline-block;
    vertical-align: top;

    @media screen and (max-width: $md) {
      display: block;
      margin-bottom: 20px;
    }
  }

  &__link {
    position: relative;
    padding: 20px;
    color: $text-color;
    transition: all .5s ease;

    &:hover {
      color: $accent;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -5px;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      background: $white;
      border: 1px solid $gray-light;
      border-radius: 50%;
    }
  }
}

/* end footer-main
====================================================*/
.btn-up {
  position: fixed;
  bottom: 40px;
  right: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 1.4em;
  color: red;
  border: 1px solid #a1a1a1;
  background-color: $gray-dark;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
  transition: all 1s ease;

  &.disabled {
    opacity: 0;
  }

  &:hover {
    color: green;
    transform: rotate(-180deg);
    box-shadow: none;
    cursor: pointer;
  }
}
